body {
  font-family: Arial;
  margin: auto;
  width: 30%;
}

#main-heading {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
}

#todo-input, #todo-date {
  font-size: 15px;
  padding: 10px 5px;
}

.btn-delete {
  background-color: rgb(179, 29, 29);
  color: white;
  border: none;
  padding: 15px 0px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
  transition: transform 0.2s ease;

}

.btn-todo {
  background-color: rgb(7, 95, 17);
  color: white;
  border: none;
  padding: 15px 0px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
  transition: transform 0.2s ease;
  
}


.btn-todo:hover,.btn-delete:hover{
  transform: translateY(-2px);
}
